body {
    display: flex;
    justify-content: center;
    background:#1f1f1f ;
    margin-top: 100px;
}   
.container {
    border: 1px solid white;
    width: 950px;
    background-color:rgb(18,18,18) ;
}
.header {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #1f1f1f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header svg {
    width: 20px;
    height: 20px;
}
.head_text{
    position: absolute;
    margin-top: 5px;
    left: 10px;
    margin-bottom: 2px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #ff5f57;
    border-top-right-radius: 5px;
}
.maximize {
    position: absolute;
    top: 0;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: #ffbd2e;
}
.minimize {
    position: absolute;
    top: 0;
    right: 40px;
    height: 20px;
    width: 20px;
    background-color: #28ca41;
}
.aboutme {
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}
.aboutme p {
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
div a{
    text-decoration: none;
}
#YT{
    color:red;
}
#DC {
    color: blue;
}
#unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: grey;
}
.metxt{
    overflow: hidden;
    color:white !important;
    border-right: .15em solid whitesmokeoke;
    white-space: nowrap;
    display: inline;
    letter-spacing: .15em;
    margin-left: 5px;
}

.fadein {
    animation: 1.5s fadeIn 0s; 
    margin-top: 10px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img {
    height: 35px;
    width: 35px;
    margin-left: 5px;
}
.unsel{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 30px;
}
.links {
    display: flex;
    flex-direction: column  ;
    justify-content:baseline;
    margin-bottom: 15px;
    animation: 10s fadeIn 0s;
}
.gram {
    color:magenta;
    position: relative;
    left: 40px;
    bottom:27px;
}
.cord {
    color:skyblue;
    margin-left: 5px; 
    left: 40px;
    bottom:27px;
    position: relative;
}
.tube {
    color:red;
    margin-left: 5px; 
    left: 40px;
    bottom:27px;
    position: relative;
}
.hub {
    color:indigo;
    margin-left: 5px; 
    left: 40px;
    bottom:27px;
    position: relative;
}
.mail {
    color: whitesmoke;
    margin-left: 5px;
    left: 40px;
    bottom:27px;
    position: relative;
}

